@font-face {
  font-family: 'sansation';
  src: local('sansation'), url('@assets/fonts/sansation/Sansation_Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'sansation';
  src: local('sansation'), url('@assets/fonts/sansation/Sansation_Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'sansation';
  src: local('sansation'), url('@assets/fonts/sansation/Sansation_Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html {
  -moz-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-size-adjust: 100%;
  scroll-behavior: auto;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: sansation, sans-serif;
}

html {
  font-size: clamp(0.875rem, 0.625vw + 0.75rem, 1.5rem);
  line-height: clamp(1.313rem, 0.487vw + 1.215rem, 1.8rem);
}

@media (min-width: 576px) {
  html {
    font-size: clamp(0.875rem, 0.625vw + 0.75rem, 1.5rem);
    line-height: clamp(1.313rem, 0.487vw + 1.215rem, 1.8rem);
  }
}

@media (min-width: 768px) {
  html {
    font-size: clamp(0.875rem, 0.625vw + 0.75rem, 1.5rem);
    line-height: clamp(1.313rem, 0.487vw + 1.215rem, 1.8rem);
  }
}

@media (min-width: 992px) {
  html {
    font-size: clamp(0.875rem, 0.625vw + 0.75rem, 1.5rem);
    line-height: clamp(1.313rem, 0.487vw + 1.215rem, 1.8rem);
  }
}

@media (min-width: 1200px) {
  html {
    font-size: clamp(0.875rem, 0.625vw + 0.75rem, 1.5rem);
    line-height: clamp(1.313rem, 0.487vw + 1.215rem, 1.8rem);
  }
}

@media (min-width: 1400px) {
  html {
    font-size: clamp(0.875rem, 0.625vw + 0.75rem, 1.5rem);
    line-height: clamp(1.313rem, 0.487vw + 1.215rem, 1.8rem);
  }
}

@media screen and (min-width: 420px) {
  html {
    font-size: calc(13px + 3 * ((100vw - 420px) / 2460)) !important;
  }
}

@media screen and (min-width: 2880px) {
  html {
    font-size: 19px !important;
  }
}

body {
  min-height: 100vh;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-size: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: theme('colors.primary.950');
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
 
@media (prefers-color-scheme: dark) {
}
